/* Estilos específicos para o cabeçalho */
header {
  text-align: center;
  padding: 20px;
  background-color: #007BFF;
  color: #FFFFFF;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header p {
  margin-top: 10px;
  font-size: 1.2em;
}
